<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<appSettings>
	<add key="ConnectionString" value="Server=localhost;Database=MyDVLD;User Id=sa;Password=sa123456;"/>
	<add key="EncrptionKey" value="6541145481488942"/>
</appSettings>
</configuration>